body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
  }


header h1{
}
img {
    display: block;
    width: 100%;
    height: auto;
  }
.boxes{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding:2em;
}
.box{
    border: 1px solid #000;
}
.box-content{
    text-align: center;

}

@media (min-width: 700px) {
    .boxes{
        display: grid;
        grid-template-columns:repeat(3,1fr);
        grid-gap: 20px;
    }
}